<section class="indicador animated fadeIn fast">
    <div class="forma">
        <div class="container">
            <div class="row titulo-indicador">
                <div class="imagen col-sm-2">
                    <img class="img-responsive" src="assets/img/basura.png" alt="">
                </div>
                <div class="col-sm-10 titulo">
                    <h1>Periodicidad en la Recolección de Basura en Zona rural</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="indicador-generales pb-2 mb-2">
    <div class="container">
        <div class="row justify-content-center pt-1">
            <div class="col-sm-2 col-md-1 definicion">
                <h3>Definición:</h3>
            </div>
            <div class="col-sm-10 col-md-11 definicion-contenido">
                <h1>Cumplir con la periodicidad de recolección de residuos sólidos en la zona rural</h1>
            </div>
        </div>
        <div class="row justify-content-center pt-2 mt-3">
            <div class="col-sm-1 folio">
                <h3>Folio:</h3>
            </div>
            <div class="col-sm-3 folio-contenido">
                <h1>2019 - 1 - 016</h1>
            </div>
            <div class="col-sm-1 categoria">
                <h3>Categoría:</h3>
            </div>
            <div class="col-sm-4 categoria-contenido">
                <h1>PBR - PORCENTAJE</h1>
            </div>
            <div class="col-sm-1 folio">
                <h3>Tipo:</h3>
            </div>
            <div class="col-sm-2 folio-contenido-1">
                <h1>Gestión</h1>
            </div>
        </div>
    </div>
</section>
<section class="container detalle-indicador mt-4 mb-4">
    <div class="row">
        <!--------------------------------CARD ESTATUS---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_Estatus.png" alt="">
                    </div>
                    <div class="col">
                        <h1>ESTATUS</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title">100%</h1>
                    <h3 class="card-text-t">Valor actual:</h3>
                    <h1 class="card-text">100</h1>
                    <h3 class="card-text-t">Porcentaje:</h3>
                    <h1 class="card-text">133.33</h1>
                    <h3 class="card-text-t">Fecha de medición:</h3>
                    <h1 class="card-text">07-Oct-2019</h1>
                </div>
            </div>
        </div>
        <!--------------------------------CARD META---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_meta.png" alt="">
                    </div>
                    <div class="col">
                        <h1>META</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="division-i col-5">
                            <h3 class="card-text-t">Meta:</h3>
                            <h1 class="card-text">75</h1>
                        </div>
                        <div class="division-d">
                            <h3 class="card-text-t">Unidad de medida:</h3>
                            <h1 class="card-text">Porcentaje</h1>
                        </div>
                        <div class="division-i col-5">
                            <h3 class="card-text-t">Frecuencia:</h3>
                            <h1 class="card-text">Semanal</h1>
                        </div>
                        <div class="division-d">
                            <h3 class="card-text-t">Sentido:</h3>
                            <h1 class="card-text"><i class="fa fa-plus"></i> Aumentar</h1>
                        </div>
                        <div class="division-i col-5">
                            <h3 class="card-text-t">Linea Base:</h3>
                            <h1 class="card-text">50</h1>
                        </div>
                        <div class="division-d">
                            <h3 class="card-text-t">Fecha linea base:</h3>
                            <h1 class="card-text">2018-12-17</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------CARD DIRECCIÓN QUE REPORTA---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_DireccionReporta.png" alt="">
                    </div>
                    <div class="col col-dire">
                        <h1>DIRECCIÓN QUE REPORTA</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-text">Dirección General de Servicios Públicos</h1>
                    <h3 class="card-text-t">Responsable:</h3>
                    <h1 class="card-text">Responsable de Servicios</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container detalle-indicador mt-4 mb-4">
    <div class="row">
        <!--------------------------------CARD PROGRAMA PMD---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_DireccionReporta.png" alt="">
                    </div>
                    <div class="col">
                        <h1>PROGRAMA PMD</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-text-t">Línea de acción:</h3>
                    <h1 class="card-text">Programa VIII Gestión de los Residuos Sólidos</h1>
                    <h3 class="card-text-t">Eje:</h3>
                    <h1 class="card-text">Eje - Bienestar Social</h1>
                </div>
            </div>
        </div>
        <!--------------------------------CARD ALINEACIÓN ODS---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_AlineacionODS.png" alt="">
                    </div>
                    <div class="col">
                        <h1>ALINEACIÓN ODS</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-text-t">Objetivo de Desarrollo Sostenible:</h3>
                    <h1 class="card-text">Ciudades y Comunidades Sostenibles</h1>
                </div>
            </div>
        </div>
        <!--------------------------------CARD MÉTODO DE CÁLCULO---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_MetodoCalculo.png" alt="">
                    </div>
                    <div class="col col-dire">
                        <h1>MÉTODO DE CÁLCULO</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-text-t">Metodología</h3>
                    <h1 class="card-text">Número total de luminaria en funcionamiento entre el número total de luminarias, todo multiplicado por cien.
                    </h1>
                    <h3 class="card-text-t">Fórmula:</h3>
                    <h1 class="card-text">(Número total de luminaria en funcionamiento / número total de luminarias) * 100.
                    </h1>
                    <h3 class="card-text-t">Variables:</h3>
                    <h1 class="card-text">x = Número total de luminaria en funcionamiento</h1>
                    <h1 class="card-text">y = Número total de luminarias</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container detalle-indicador mt-4 mb-4">
    <div class="row">
        <!--------------------------------CARD OBJETIVOS---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_Objetivos.png" alt="">
                    </div>
                    <div class="col">
                        <h1>OBJETIVOS</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-text-t">Fin:</h3>
                    <h1 class="card-text">Alcanzar cobertura de 100% de la red de alumbrado de la capital del estado y las localidades rurales, con la disminución del impacto al medio ambiente, para mejorar la seguridad y convivencia social.</h1>
                    <h3 class="card-text-t">Propósito:</h3>
                    <h1 class="card-text">Llevar a cabo las acciones necesarias para asegurar a la población un servicio de alumbrado público que incremente la productividad y la convivencia social.</h1>
                    <h3 class="card-text-t">Línea de acción:</h3>
                    <h1 class="card-text">Alcanzar la cobertura total de electrificación en colonias y localidades rurales.</h1>
                </div>
            </div>
        </div>
        <!--------------------------------CARD MEDICIONES---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_Mediciones.png" alt="">
                    </div>
                    <div class="col">
                        <h1>MEDICIONES</h1>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="card-text-t">Dimensiones a medir:</h3>
                    <h1 class="card-text">Eficiencia</h1>
                    <h3 class="card-text-t">Tipo Valor Meta:</h3>
                    <h1 class="card-text">Absoluto</h1>
                    <h3 class="card-text-t">Medio verificación:</h3>
                    <h1 class="card-text">Estadisticas propias de la institución</h1>
                </div>
            </div>
        </div>
        <!--------------------------------CARD VALORES HISTÓRICOS---------------------------->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="row no-gutters encabezado">
                    <div class="col-4 p-2">
                        <img class="card-img-top" src="assets/img/icon_ValoresHistorico.png" alt="">
                    </div>
                    <div class="col col-dire">
                        <h1>VALORES HISTÓRICOS</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="division-i col-6">
                            <h3 class="card-text-t">01/Abr/2019</h3>
                            <h1 class="card-text">67</h1>
                        </div>
                        <div class="division-d">
                            <h3 class="card-text-t">05/Jul/2019</h3>
                            <h1 class="card-text">66.67</h1>
                        </div>
                        <div class="division-i col-6">
                            <h3 class="card-text-t">08/Abr/2019</h3>
                            <h1 class="card-text">2</h1>
                        </div>
                        <div class="division-d">
                            <h3 class="card-text-t">07/Oct/2019</h3>
                            <h1 class="card-text">100</h1>
                        </div>
                        <div class="division-i col-6">
                            <h3 class="card-text-t">05/Jul/2019</h3>
                            <h1 class="card-text">-33.33</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fichas-descarga m-4 px-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-4">
                <img src="assets/img/icon-descarga-ficha.png" alt="">
            </div>
            <div class="col-md-4 col-lg-3">
                <img src="assets/img/icon-descarga-arbol.png" alt="">
            </div>
        </div>
    </div>
</section>