<footer class="footer">
    <div class="container h20 container-fluid">
        <p class="copyright m-0 text-center py-3 text-dark">
            <span>Copyright &copy; 2017 - 2021 H. XLI Ayuntamiento de Santiago Ixcuintla</span> - DIRECCIÓN DE INNOVACIÓN GUBERNAMENTAL
        </p>
    </div>
</footer>