<div class="consulta-todos main-container p-4 animated fadeIn fast">
    <div class="row justify-content-center">
        <div class="titulo-indicadores b-4">
            <div class="text-uppercase">
                <h3>indicadores de la categoría</h3>
            </div>
            <div class="text-uppercase">
                <h1>general</h1>
            </div>
        </div>
    </div>
</div>
<!--BARRA DE INDICADORES-->
<section class="barra-indicadores">
    <div class="container barra-indicadores box-body table-responsive-md no-padding">
        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th class="verticalBar texto-encabezado text-uppercase" align="center">nombre</th>
                    <th class="verticalBar texto-encabezado text-uppercase" align="center">avance</th>
                    <th class="verticalBar texto-encabezado text-uppercase" align="center">valor/meta</th>
                    <th class="verticalBar .dire texto-encabezado text-uppercase" align="center">dirección</th>
                    <th class="verticalBar texto-encabezado text-uppercase" align="center">categoría</th>
                    <th class="verticalBar texto-encabezado text-uppercase" align="center">frecuencia</th>
                    <th class="verticalBar texto-encabezado text-uppercase" align="center">fecha de medición</th>
                    <th class="texto-encabezado text-uppercase" align="center">tendencia deseada</th>
                </tr>
                <tr class="contenido-indicadores">
                    <td class="nombre tdVerticalBar">
                        <div class="row">
                            <div class="col-md-4 img-icono">
                                <img class="img-responsive" src="assets/img/icon-r-basura.png">
                            </div>
                            <div class="col-md-8 titulo-indicador">
                                <h1>2019 - 1 - 015</h1>
                                <h3>Cobertura de los servicios de recolección</h3>
                            </div>
                        </div>
                    </td>
                    <td class="tdVerticalBar" align="center">
                        <span class="grafica">100%</span>
                    </td>
                    <td class="tdVerticalBar" align="center">
                        <div class="valorMeta row justify-content-md-center">
                            <div class="col-sm-12 valor">
                                <h1>100%</h1>
                            </div>
                            <div class="meta">
                                <h1>100%</h1>
                            </div>
                        </div>
                    </td>
                    <td class="tdVerticalBar" align="center">
                        <span class="direccion">Dirección General de Servicios Públicos</span>
                    </td>
                    <td class="tdVerticalBar" align="center">
                        <span class="categoria-1">General</span>
                    </td>
                    <td class="tdVerticalBar" align="center">
                        <span class="frecuencia">Mensual</span>
                    </td>
                    <td class="tdVerticalBar" align="center">
                        <span class="fecha">07-Oct-2019</span>
                    </td>
                    <td align="center">
                        <div class="icon-tendencia">
                            <h1>+</h1>
                        </div>
                        <span class="tendencia">Aumentar</span>
                    </td>
                </tr>
                <tr class="enlace">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="pull-right">
                        <a class="btn btn-consulta" [routerLink]="['../indicador']">CONSULTAR</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</section>