<div class="implan main-container p-4 animated fadeIn fast">
    <div class="row justify-content-center">
        <div class="container titulo-implan b-4">
            <div class="text-uppercase">
                <h3>indicadores alineados</h3>
            </div>
            <div class="text-uppercase">
                <h1>con los objetos de desarrollo <br>sostenible (ods) de la onu</h1>
            </div>
            <div class="parrafo">
                <p>Con estos Objetivos de aplicación universal, en los próximos 15 años los países intensificarán los esfuerzos para poner fin a la pobreza en todas sus formas, reducir la desigualdad y luchar contra el cambio climático garantizando, al mismo
                    tiempo, que nadie se quede atrás. <br> <span> El Ayuntamiento de Santiago, Ixcuintla tiene 63 indicadores que se alinean con los ODS.</span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="indica-onu pt-4 pb-4"  >
    <div class="fila-indica-onu row justify-content-center" >
        <div class="col-sm-8 col-md-2">
            <div class="card-implan"  >
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-01.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-02.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-03.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-04.png" alt="eje 4"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-05.png" alt="eje 5"></a>

            </div>
        </div>
    </div>
    <div class="fila-indica-onu row justify-content-center">
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-06.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-07.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-08.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-09.png" alt="eje 4"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-10.png" alt="eje 5"></a>

            </div>
        </div>
    </div>
    <div class="fila-indica-onu row justify-content-center">
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-11.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-12.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-13.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-14.png" alt="eje 4"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-15.png" alt="eje 5"></a>

            </div>
        </div>
    </div>
    <div class="fila-indica-onu row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-16.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card-implan">
                <a [routerLink]="['../consultatodos']"><img class="cardImplan-img-top img-fluid" src="assets/img/iconos-17.png"></a>
            </div>
        </div>
    </div>
</section>