<div class="contacto main-container animated fadeIn fast">
    <div class="container">
        <div class="titulo row pb-4">
            <div class="col-md-2 right-divider">
                <h1>SIGEI</h1>
            </div>
            <div class="parrafo col-md-10">
                <p>
                    El <span>Sistema de Gestión de Indicadores</span> del Ayuntamiento de Santiago Ixcuintla, es una <span>estrategia</span> del Gobierno del Municipio que coordina la definición y el seguimiento dinámico y periodico de los <span>indicadores y metas</span>                    vinculadas al <span>Plan Municipal de Desarrollo Vigente.</span>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <main class="col-lg-8 contenido-principal">
                <form class="p-5 mt-3 formulario-contacto">
                    <div class="form-group">
                        <label for="nombre">NOMBRE*</label>
                        <input type="text" class="form-control" id="nombre" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="email">EMAIL*</label>
                        <input type="text" class="form-control" id="email" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="tel">TEL*</label>
                        <input type="text" class="form-control" id="tel" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="mensaje">MENSAJE*</label>
                        <textarea id="mensaje" class="form-control" cols="20" rows="10"></textarea>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox">
                        <label class="form-check-label" for="checkbox">HE LEÍDO Y ACEPTO LOS TÉRMINOS Y CONDICIONES*</label>
                    </div>
                    <div class="d-flex form-group">
                        <div class="rectangulo">
                        </div>
                        <div class="rectangulo-1">
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary text-uppercase" value="Enviar">
                        </div>
                        <div class="rectangulo-2">
                        </div>
                        <div class="rectangulo-3">
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>