<div class="row">
    <div class="col-md-12">
        <div style="display: block">
            <canvas height="45vw" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="colors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
        </div>
    </div>
</div>