<div class="row animated fadeIn fast">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="display: block;">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="colors" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>