<div class="animated fadeIn fast">
    <div id="slider-principal" class="carousel slide mt-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slider-principal" data-slide-to="0"></li>
            <li data-target="#slider-principal" data-slide-to="1"></li>
            <li data-target="#slider-principal" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="assets/img/slide-01.jpg" class="slides" alt="Cumplimiento de metas">
                <div class="carousel-caption">
                    <h3 class="text-uppercase"></h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slide-02.jpg" class="slides" alt="Indicadores">
                <div class="carousel-caption">
                    <h3 class="text-uppercase"></h3>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/img/slide-03.jpg" class="slides" alt="Enlaces">
                <div class="carousel-caption">
                    <h3 class="text-uppercase"></h3>
                </div>
            </div>
        </div>
        <!--.carousel-inner-->
        <a href="#slider-principal" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#slider-principal" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>

<!--GRÁFICA DE BARRA-->
<section class="pastel px-0">
    <div class="bar py-3">
        <h2 class="text-center text-uppercase">
            <span>cumplimiento de metas</span>
        </h2>
        <div class="col-sm-12">
            <div class="grafico-canvas" style="display: block">
                <canvas height="45vw" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="colors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
        </div>
    </div>
</section>

<!--SECCIÓN QUE SON LOS INDICADORES-->
<section class="queson-indicadores py-3">
    <hr class="container">
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-2 text-center queson-izq">
                <h3 class="izq">¿Que son los <br>indicadores?</h3>
            </div>
            <div class="col-sm-8 text-justify queson-centro">
                <p>Los indicadores son medios, instrumentos o mecanismos para evaluar hasta que punto o en que medida se estan logrando los objetivos estrategicos.
                </p>
                <p>Miden elementos de resultados, impacto y desempeño que permiten identificar lo que esta haciendo el Gobierno Municipal y permiten identificar el nivel de cumplimiento de las políticas públicas.
                </p>
            </div>
            <div class="col-sm-2 text-center queson-der">
                <h3 class="der">Base de datos de <br>indicadores</h3>
                <a [routerLink]="['../consultatodos']"><img src="assets/img/bd-descarga.png" class="img-fluid" alt="Base de datos de indicadores">
                    <h3 class="desc">Descargar</h3>
                </a>
            </div>
        </div>
    </div>
</section>

<!--SECCIÓN INDICADORES POR EJES-->
<section class="mt-3">
    <h2 class="text-center text-uppercase">
        <span>Indicadores por ejes</span>
    </h2>
    <div class="indicadores-ejes row justify-content-center">
        <div class="col-sm-8 col-md-2">
            <div class="card">
                <a [routerLink]="['../consultatodos']"><img class="card-img-top img-responsive" src="assets/img/eje_1.png" alt="eje 1"></a>
                <div class="card-body">
                    <div class="left-divider">
                        <h3 class="card-title">EJE 1</h3>
                        <p class="card-text">Bienestar Social</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-2">
            <div class="card">
                <a [routerLink]="['../consultatodos']"><img class="card-img-top img-responsive" src="assets/img/eje_2.png" alt="eje 2"></a>
                <div class="card-body">
                    <div class="left-divider">
                        <h3 class="card-title">EJE 2</h3>
                        <p class="card-text">Desarrollo Económico</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-2">
            <div class="card">
                <a [routerLink]="['../consultatodos']"><img class="card-img-top img-responsive" src="assets/img/eje_3.png" alt="eje 3"></a>
                <div class="card-body">
                    <div class="left-divider">
                        <h3 class="card-title">EJE 3</h3>
                        <p class="card-text">Ordenamiento Ecológico y Territorial</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-2">
            <div class="card">
                <a [routerLink]="['../consultatodos']"><img class="card-img-top img-responsive" src="assets/img/eje_4.png" alt="eje 4"></a>
                <div class="card-body">
                    <div class="left-divider">
                        <h3 class="card-title">EJE 4</h3>
                        <p class="card-text">Protección y Seguridad Ciudadana</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-2">
            <div class="card">
                <a [routerLink]="['../consultatodos']"><img class="card-img-top img-responsive" src="assets/img/eje_5.png" alt="eje 5"></a>
                <div class="card-body">
                    <div class="left-divider">
                        <h3 class="card-title">EJE 5</h3>
                        <p class="card-text">Innovación y Buen Gobierno</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--SECCIÓN INDICADORES PROGRAMAS-->
<section class="indica-programas mt-3 py-3">
    <hr class="container">
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-4 caja-izq">
                <img src="assets/img/logo-san.png" class="img-fluid" alt="">
            </div>
            <div class="col-sm-8 caja-der">
                <!-- Large button groups (default and split) -->
                <div class="btn-group">
                    <button class="btn btn-principal btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        INDICADORES POR <strong class="negritas">PROGRAMAS</strong>:
                    </button>
                    <div class="dropdown-menu container-fluid">
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">25</span>PROGRAMA I AGUA POTABLE</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA II ALUMBRADO PÚBLICO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">0</span>PROGRAMA III DOTACIÓN EMERGENTE DE AGUA POTABLE</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA IV ALCANTARILLADO SANITARIO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-consultatodos2consultatodos">2</span>PROGRAMA V ALCANTARILLADO PLUVIAL</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">0</span>PRconsultatodosOGRAMA VI PLANconsultatodosTAS DE TRATAMIENTO DE AGUAS RESIDUALES</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">0</span>PROGRAMA VII SANEAMIENTO DEL RIO MOLOLOA</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">0</span>PROGRAMA VIII GESTIÓN DE LOS RESIDUOS SÓLIDOS</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA IX SALUD PÚBLICA MUNICIPAL</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA X MERCADOS</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA XI DEPORTE</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA XII ÁREAS VERDES Y RECREATIVAS</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">3</span>PROGRAMA XIII RASTRO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XIV PANTEONES</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XV ARTE Y CULTURA</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XVI IGUALDAD E INCLUSIÓN PARA EL DESARROLLO SOCIAL</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XVII MEJORA A LA VIVIENDA</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XVIII INNOVACIÓN Y OPORTUNIDADES PARA JOVENES</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA XIX IGUALDAD DE GÉNERO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">3</span>PROGRAMA XX IMPULSO AL DESARROLLO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">5</span>PROGRAMA XXI MEDIO AMBIENTE Y CAMBIO CLIMÁTICO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XXII DESARROLLO URBANO METROPOLITANO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XXIII MOVILIDAD URBANA SUSTENTABLE</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XXIV NUEVO MODELO DE SEGURIDAD CIUDADANA</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XXV PREVENCIÓN DEL DELITO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA XXVI DERECHOS HUMANOS</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">2</span>PROGRAMA XXVII PROTECCIÓN CIVIL Y DEL PATRIMONIO</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">6</span>PROGRAMA XXVIII HONESTIDAD Y EFICIENCIA</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">7</span>PROGRAMA XXIX INNOVACIÓN PARA MEJORAR LOS SERVICIOS</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">3</span>PROGRAMA XXX GOBIERNO DE LOS VECINOS</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">1</span>PROGRAMA XXXI TRANSPARENCIA, ACCESO A LA INFORMACIÓN Y CONTRALORÍA CIUDADANA</a>
                        <a class="dropdown-item" [routerLink]="['../consultatodos']"><span class="d-inline text-left mr-2">5</span>PROGRAMA XXXII GOBIERNO ABIERTO</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--SECCIÓN INDICADORES POR DIRECCIÓN / PROGRAMA-->
<section class="indica-direccion mt-3">
    <h2 class="text-center text-uppercase">
        <span>Indicadores por Dirección / Programa</span>
    </h2>
    <div class="mini-slider container">
        <!--MINI SLIDER INDICADORES POR PROGRAMA 1-->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!--Slider 1-->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-1.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-2.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-3.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-4.png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                </div>
                <!--Slider 2-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-5.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-6.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-7.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-8.png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                </div>
                <!--Fin del Slider 2-->
                <!--Slider 3-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-9.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-10.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-11.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-12.png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                </div>
                <!--Fin del Slider 3-->
                <!--Slider 4-->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-13.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-14.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-15.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="col-3">
                            <a [routerLink]="['../consultatodos']"><img src="assets/img/direccion-16.png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                </div>
                <!--Fin del Slider 4-->
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<!--SECCIÓN OPCIONES DE INDICADORES-->
<section class="opcion-indica">
    <h2 class="text-center text-uppercase">
        <span>Opciones de indicadores</span>
    </h2>
    <div class="container">
        <div class="row mt-4 justify-content-center align-items-center">
            <div class="col-sm-5"  >
                <a [routerLink]="['../consultatodos']"><img  src="assets/img/todos-indicadores.png" class="img-fluid" alt=""></a>
            </div>
            <div class="col-sm-3">
                <a [routerLink]="['../consultatodos']"><img src="assets/img/indica-categoria.png" class="img-fluid" alt=""></a>
            </div>
            <div class="col-sm-3">
                <a [routerLink]="['../consultatodos']"><img src="assets/img/indica-objetivos.png" class="img-fluid" alt=""></a>
            </div>
        </div>
    </div>
</section>