<nav class="navbar navbar-expand-lg navbar-light style=background-color: #fff;">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="assets/img/logo-san.png" class="img-fluid"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <!--active-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['innovacion']">INNOVACIÓN</a>
            </li>
            <li>
                <div class="visible-lg-block visible-xl-block header-right-divider"></div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['presupuesto']">PRESUPUESTOS</a>
            </li>
            <li>
                <div class="visible-lg-block visible-xl-block header-right-divider"></div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['implan']">IMPLAN</a>
            </li>
            <li>
                <div class="visible-lg-block visible-xl-block header-right-divider"></div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['consultatodos']">INDICADORES</a>
            </li>
            <li>
                <div class="visible-lg-block visible-xl-block header-right-divider"></div>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['contacto']">CONTACTO</a>
            </li>
        </ul>
        <div class="px-4">
            <form action="#" class="busqueda mt-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="BUSCAR" required>
                    <div class="input-group-append">
                        <!--<i class="fas fa-search"><input type="submit"></i>-->
                        <button class="btn-busca btn-sm px-2 py-2" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>