                    /* You can add global styles to this file, and also import other style files */
                    /**GLOBAL**/
                    /*FUENTES IMPORTADAS*/
                    
                    @font-face {
                        font-family: gotham-bold;
                        src: url("assets/fonts/GOTHAM-BOLD.OTF");
                    }
                    
                    @font-face {
                        font-family: gotham-light;
                        src: url("assets/fonts/GOTHAM-LIGHT.OTF");
                    }
                    /**NAVBAR**/
                    
                    .navbar {
                        margin-bottom: -2em;
                        padding-bottom: -2em;
                        font-family: "gotham-bold";
                        font-size: 1rem;
                    }
                    
                    .navbar-brand img {
                        width: 14rem;
                        padding-left: 1rem;
                    }
                    
                    .navbar-nav .nav-link::after {
                        content: '';
                        display: block;
                        /*position: absolute;*/
                        top: 0;
                        left: 0;
                        width: 100;
                        height: 5px;
                        background: #333333;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: .3s;
                    }
                    
                    .navbar-nav .nav-link:hover::after {
                        width: 100%;
                        transform: scaleX(1);
                        transform-origin: center;
                        transition: .3s;
                    }
                    
                    .busqueda .form-control {
                        border-color: transparent;
                        background-color: #dedfe0;
                        text-align: left;
                    }
                    
                    .busqueda .form-control:focus {
                        outline: none !important;
                        outline-width: 0 !important;
                        box-shadow: none;
                        border-color: transparent;
                    }
                    /**HEADER**/
                    
                    .header-right-divider {
                        height: 80%;
                        border-left: 1px solid #dedfe0;
                        margin: 0 6px;
                    }
                    
                    .btn-busca {
                        background-color: #005CAB;
                        color: #fff;
                        border-radius: .3rem;
                        border: none;
                        font-family: "gotham-bold";
                    }
                    
                    .form-control {
                        border-radius: .7rem;
                        background-color: #DDDDDD;
                        color: #909090;
                        text-align: center;
                        font-family: gotham-bold;
                    }
                    /* .main-container {
            padding-top: 0px;
            margin-top: 0px;
        }*/
                    /**SLIDER CAROUSEL**/
                    
                    .slides {
                        width: 100%;
                    }
                    
                    .carousel-indicators li {
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        background-color: #333333;
                        opacity: 100%;
                    }
                    
                    .carousel-indicators li:hover {
                        background-color: #005CAB;
                    }
                    
                    .carousel-indicators .active {
                        background-color: #005CAB;
                    }
                    
                    .mini-slider .carousel-control span.glyphicon {
                        color: #FBA934;
                    }
                    
                    .mini-slider .carousel-control-prev-icon {
                        height: 4rem;
                        width: 4rem;
                        background-size: 80% 80%;
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                    
                    .mini-slider .carousel-control-next-icon {
                        height: 4rem;
                        width: 4rem;
                        background-size: 80% 80%;
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                    /**GRÁFICA**/
                    
                    .pastel {
                        padding-top: 0%;
                        margin-top: 0%;
                    }
                    
                    .bar {
                        background-color: #eaeaea;
                        padding-bottom: 0%;
                        margin-bottom: 0%;
                    }
                    
                    h2 {
                        padding-top: 0%;
                        padding-bottom: .8em;
                    }
                    
                    h2 span {
                        font-family: gotham-bold;
                        font-size: .8rem;
                        color: #fff;
                        background-color: #005CAB;
                        padding-left: .8rem;
                        padding-right: .8rem;
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                        border-radius: 2rem;
                    }
                    /*****************SECCIÓN ¿QUÉ SON LOS INDICADORES?*************************/
                    
                    .queson-indicadores hr {
                        padding-top: 0%;
                        margin-top: 0%;
                        border: .1rem solid #909090;
                        margin-bottom: 3rem;
                    }
                    
                    .queson-indicadores {
                        background-color: #eaeaea;
                        /*height: 30rem;*/
                    }
                    
                    .queson-indicadores .queson-izq {
                        border-right: .1rem solid #909090;
                    }
                    
                    .queson-indicadores .izq {
                        margin-top: 2rem;
                        font-family: gotham-bold;
                        font-size: 1.5rem;
                        color: #333333;
                    }
                    
                    .queson-indicadores .queson-der {
                        border-left: .1rem solid #909090;
                    }
                    
                    .queson-indicadores .der {
                        margin-top: 1rem;
                        font-family: "gotham-light";
                        font-size: .7rem;
                        color: #909090;
                    }
                    
                    .queson-indicadores .queson-centro p {
                        margin-left: 1rem;
                        margin-right: 1rem;
                        color: #909090;
                    }
                    
                    .queson-indicadores .text-justify {
                        margin-top: 1.1rem;
                        font-family: "gotham-light";
                        font-size: .9rem;
                    }
                    
                    .queson-indicadores img {
                        width: 4rem;
                    }
                    
                    .queson-indicadores .desc {
                        font-size: 1.2rem;
                        color: #333333;
                        font-family: "gotham-bold";
                        font-weight: bold;
                    }
                    
                    .queson-indicadores a h3:hover {
                        font-size: 1.2rem;
                        color: #005CAB;
                        font-family: "gotham-bold";
                        font-weight: bold;
                    }
                    
                    .queson-indicadores a:hover {
                        color: #005CAB;
                        text-decoration: #eaeaea;
                    }
                    /************************ SECCIÓN INDICADORES POR EJES*********************************/
                    
                    .indicadores-ejes .card {
                        border: none;
                    }
                    
                    .indicadores-ejes .card-img-top {
                        -webkit-transition: transform .2s ease;
                        -ms-transition: transform .2s ease;
                        transition: transform .2s ease;
                    }
                    
                    .indicadores-ejes .card-img-top:hover {
                        -webkit-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                    
                    .indicadores-ejes .card-body {
                        margin-left: .5rem;
                        padding-left: 0;
                    }
                    
                    .left-divider {
                        border-left: .1rem solid #005CAB;
                    }
                    
                    .indicadores-ejes .card-title {
                        font-family: "gotham-bold";
                        font-size: .9rem;
                        color: #005CAB;
                        margin-bottom: 0;
                        margin-left: .3rem;
                    }
                    
                    .indicadores-ejes .card-text {
                        font-family: "gotham-bold";
                        font-size: .9rem;
                        color: #333333;
                        font-weight: bold;
                        margin-left: .2rem;
                    }
                    /********************SECCIÓN INDICADORES PROGRAMAS********************/
                    
                    .indica-programas {
                        padding-bottom: 8rem;
                        margin-bottom: 8rem;
                    }
                    
                    .indica-programas .caja-izq {
                        border-right: .1rem solid #909090;
                    }
                    
                    .indica-programas img {
                        margin-top: 1rem;
                        vertical-align: middle;
                    }
                    
                    .btn-principal {
                        font-family: "gotham-light";
                        background-color: #fff;
                        border-color: #fff;
                        color: #005CAB;
                        padding-bottom: .3rem;
                        margin-bottom: 0;
                    }
                    
                    .btn-principal .negritas {
                        font-family: "gotham-bold";
                        font-size: 1.7rem;
                    }
                    
                    .btn-principal:hover {
                        background-color: #fff;
                        color: #005CAB;
                    }
                    
                    .btn-principal:focus {
                        box-shadow: none;
                    }
                    
                    .btn-group .show {
                        border-color: #fff;
                        padding-top: 0;
                        margin-top: 0;
                        margin-left: 1rem;
                        border: 0;
                        border-radius: .6rem;
                    }
                    
                    .dropdown-menu {
                        max-height: 12rem;
                        overflow: hidden;
                        overflow-y: auto;
                        width: 45rem;
                    }
                    
                    .dropdown-menu a span {
                        font-size: .6rem;
                        color: #fff;
                        background-color: #005CAB;
                        padding-left: .5rem;
                        padding-right: .5rem;
                        padding-top: .1rem;
                        padding-bottom: .1rem;
                        border-radius: 1rem;
                    }
                    
                    .dropdown-menu a {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                        font-weight: bold;
                        border-top: .03rem solid #909090;
                    }
                    
                    .dropdown-menu a:hover {
                        background-color: #FBA934;
                        color: #fff;
                    }
                    /**SECCIÓN INDICADORES DIRECCION**/
                    
                    .indica-direccion {
                        background-color: #005CAB;
                        padding-bottom: 2rem;
                    }
                    
                    .indica-direccion h2 {
                        padding-top: 0%;
                        padding-bottom: .8em;
                    }
                    
                    .indica-direccion h2 span {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                        color: #005CAB;
                        background-color: #ffffff;
                        padding-left: .8rem;
                        padding-right: .8rem;
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                        border-radius: 2rem;
                    }
                    /**SECCION OPCIONES DE INDICADORES**/
                    
                    .opcion-indica {
                        background-color: #eaeaea;
                        padding-bottom: 1rem;
                    }
                    
                    .opcion-indica h2 {
                        background-color: #005CAB;
                        padding-bottom: 0rem;
                        margin-bottom: 0rem;
                    }
                    
                    .opcion-indica h2 span {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                        color: #333333;
                        background-color: #fff;
                        padding-left: .8rem;
                        padding-right: .8rem;
                        padding-top: .5rem;
                        padding-bottom: .5rem;
                        border-radius: 2rem;
                    }
                    /**  .opcion-indica .container a {
            box-sizing: border-box;
        }**/
                    
                    .opcion-indica .container a img {
                        height: 5rem;
                        border-radius: 1rem;
                        border: #FBA934 .1rem transparent;
                    }
                    
                    .opcion-indica .container a img:hover {
                        border-radius: 1rem;
                        border: #FBA934 .1rem solid;
                    }
                    /*********************COMPONENTE CONTACTO***************************************************/
                    
                    .main-container {
                        margin-top: 2rem;
                        padding-top: 5rem;
                        background-color: #eaeaea;
                    }
                    
                    .main-container .right-divider {
                        height: 40%;
                        border-right: .1rem solid #FBA934;
                        font-family: "gotham-bold";
                        font-size: 4rem;
                        text-align: right;
                        color: #333333;
                    }
                    
                    .main-container .parrafo {
                        margin-top: .6rem;
                        padding-right: 4rem;
                        font-family: "gotham-light";
                        font-size: .8rem;
                        text-align: justify;
                        color: #333333;
                    }
                    
                    .main-container p span {
                        font-family: "gotham-bold";
                    }
                    
                    .contacto .titulo {
                        border-bottom: .2rem solid #909090;
                    }
                    
                    .formulario-contacto label {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                    }
                    
                    .form-group .rectangulo {
                        margin-top: 1rem;
                        width: 8rem;
                        height: .5rem;
                        border: none;
                        background: #58ba63;
                    }
                    
                    .form-group .rectangulo-1 {
                        margin-top: 1rem;
                        width: 8rem;
                        height: .5rem;
                        border: none;
                        background: #D94967;
                    }
                    
                    .form-group .rectangulo-2 {
                        margin-top: 1rem;
                        width: 8rem;
                        height: .5rem;
                        border: none;
                        background: #FBA934;
                    }
                    
                    .form-group .rectangulo-3 {
                        margin-top: 1rem;
                        width: 8rem;
                        height: .5rem;
                        border: none;
                        background: #B350AA;
                    }
                    
                    .form-control {
                        border-color: red;
                        background-color: #fff;
                        text-align: left;
                    }
                    
                    .form-control:focus {
                        outline: none !important;
                        outline-width: 0 !important;
                        box-shadow: none;
                        border-color: red;
                    }
                    
                    .form-check {
                        text-align: center;
                    }
                    
                    .btn-primary {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                        background-color: #005CAB;
                        border-radius: .8rem;
                        padding: .4rem 2rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                    
                    .form-check .form-check-label {
                        font-weight: normal;
                    }
                    /*************************************************FOOTER*************************************/
                    
                    .footer {
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-color: #eaeaea!important;
                        font-family: "gotham-light";
                        font-size: .8rem;
                    }
                    
                    .footer span {
                        font-family: "gotham-bold";
                        font-weight: 700;
                    }
                    /*************************SECCIÓN TODOS LOS INDICADORES*******************************/
                    
                    .titulo-indicadores {
                        text-align: center;
                    }
                    
                    .titulo-indicadores h3 {
                        font-family: "gotham-bold";
                        font-size: 1.4rem;
                        margin-bottom: 0;
                    }
                    
                    .titulo-indicadores h1 {
                        font-family: "gotham-bold";
                        font-size: 2.5rem;
                        color: #005CAB;
                    }
                    
                    .barra-indicadores {
                        background-color: #eaeaea;
                        padding-bottom: .3rem;
                    }
                    
                    .table {
                        background-color: #005CAB;
                        border-radius: .7rem;
                    }
                    
                    .texto-encabezado {
                        font-family: "gotham-light";
                        text-align: center;
                        color: #fff;
                        font-size: .8rem;
                    }
                    
                    .barra-indicadores .verticalBar {
                        border-right: .1rem solid #fff;
                    }
                    
                    .contenido-indicadores .tdVerticalBar {
                        border-right: .1rem solid #909090;
                    }
                    
                    .contenido-indicadores {
                        background-color: #fff;
                    }
                    
                    .contenido-indicadores .titulo-indicador h1,
                    h3 {
                        font-family: "gotham-bold";
                        font-size: .6rem;
                        padding-top: .3rem;
                        margin-top: .3rem;
                        padding: 0;
                    }
                    
                    .contenido-indicadores .nombre {
                        padding: .3rem 0 .3rem .3rem;
                        margin: 0;
                        width: 25%;
                    }
                    
                    .contenido-indicadores .img-icono {
                        margin: 0;
                        padding-right: 0;
                    }
                    
                    .contenido-indicadores .titulo-indicador {
                        padding: 0;
                        margin-left: 0;
                    }
                    
                    .contenido-indicadores img {
                        width: 3rem;
                        height: 3rem;
                    }
                    
                    .contenido-indicadores .grafica {
                        font-family: "gotham-bold";
                        color: #005CAB;
                        font-size: 1.2rem;
                        padding-top: .4rem;
                    }
                    
                    .valorMeta {
                        padding: 0;
                        margin: 0;
                        height: 0;
                    }
                    
                    .valorMeta .valor h1 {
                        font-family: "gotham-bold";
                        font-size: 1rem;
                        border-bottom: .2rem solid #909090;
                        padding-bottom: .5rem;
                        margin-top: -.6rem;
                        padding-top: -.6rem;
                    }
                    
                    .valorMeta .meta h1 {
                        font-family: "gotham-bold";
                        font-size: 1rem;
                        margin-top: 0;
                        padding-top: 0;
                    }
                    
                    .contenido-indicadores .tdVerticalBar .direccion {
                        font-family: "gotham-bold";
                        font-size: .7rem;
                        vertical-align: inherit;
                        text-align: justify;
                        margin: 0;
                    }
                    
                    .contenido-indicadores .tdVerticalBar .categoria-1 {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                    }
                    
                    .contenido-indicadores .frecuencia {
                        font-family: "gotham-bold";
                        font-size: .8rem;
                        text-align: justify;
                        line-height: normal;
                        margin: 0;
                        padding: 0;
                    }
                    
                    .contenido-indicadores .fecha {
                        font-family: "gotham-bold";
                        font-size: .6rem;
                        text-align: justify;
                        margin: 0;
                        padding: 0;
                    }
                    
                    .contenido-indicadores .icon-tendencia {
                        padding: -1rem;
                        margin: -1rem;
                    }
                    
                    .contenido-indicadores .icon-tendencia h1 {
                        font-family: "gotham-bold";
                        font-size: 2rem;
                        color: #58ba63;
                    }
                    
                    .contenido-indicadores .tendencia {
                        font-family: "gotham-bold";
                        font-size: .9rem;
                        text-align: justify;
                        margin-top: 8rem;
                    }
                    
                    .pull-right .btn-consulta {
                        font-family: "gotham-bold";
                        background-color: #fff;
                        color: #005CAB;
                        margin-left: 1rem;
                        padding: .2rem .4rem;
                        font-size: .5rem;
                        border-radius: .3rem;
                    }
                    
                    .pull-right .btn-consulta:hover {
                        background-color: #005CAB;
                        color: #fff;
                        border: 1px solid #fff;
                    }
                    
                    .pull-right .btn-consulta:active {
                        background-color: #fff;
                        color: #005CAB;
                    }
                    /********************IMPLAN*****************************************************/
                    
                    .titulo-implan {
                        text-align: center;
                        padding-bottom: 2rem;
                    }
                    
                    .titulo-implan h3 {
                        font-family: "gotham-light";
                        font-size: 1.4rem;
                        margin-bottom: 0;
                    }
                    
                    .titulo-implan h1 {
                        margin-top: .6rem;
                        font-family: "gotham-bold";
                        font-size: 2.5rem;
                        color: #005CAB;
                    }
                    
                    .titulo-implan .parrafo {
                        margin-top: 1rem;
                        font-family: "gotham-light";
                        text-align: center;
                        font-size: .9rem;
                    }
                    
                    .titulo-implan .parrafo span {
                        font-weight: 700;
                    }
                    
                    .titulo-implan {
                        border-bottom: .2rem solid #909090;
                    }
                    
                    .indica-onu {
                        background-color: #eaeaea;
                    }
                    
                    .fila-indica-onu {
                        padding-bottom: 3rem !important;
                    }
                    
                    .card-implan .cardImplan-img-top {
                        border-radius: 1rem;
                        border: #FBA934 .1rem transparent;
                    }
                    
                    .card-implan .cardImplan-img-top:hover {
                        border-radius: 1rem;
                        border: #FBA934 .1rem solid;
                    }
                    /*************************Componente Indicador**********************************/
                    
                    .indicador {
                        margin-top: 2rem;
                        padding-top: 2rem;
                        padding-bottom: 3rem;
                        background-color: #eaeaea;
                    }
                    
                    .forma {
                        margin-top: -2rem;
                        padding-top: 3rem;
                        padding-bottom: 1rem;
                        background-color: #58ba63;
                        border-radius: 0 0 20% 20%;
                    }
                    
                    .titulo-indicador img {
                        height: 5rem;
                    }
                    
                    .titulo-indicador .titulo {
                        font-family: "gotham-bold";
                        color: #fff;
                        float: left;
                        text-align: center;
                        margin: 0 0 0 0;
                        padding: 0 3rem 0 0;
                    }
                    
                    .titulo-indicador .titulo h1 {
                        font-size: 2.8rem;
                        font-weight: 600;
                        line-height: 3rem;
                    }
                    
                    .titulo-indicador .imagen {
                        text-align: right;
                        float: right;
                        margin-right: 0;
                        padding-top: .5rem;
                        padding-right: 0;
                    }
                    
                    .titulo-indicador hr {
                        height: .2rem;
                        width: 4rem;
                        background-color: #333;
                    }
                    
                    .indicador-generales {
                        background-color: #eaeaea;
                    }
                    
                    .definicion {
                        text-align: right;
                    }
                    
                    .definicion h3 {
                        font-family: "gotham-bold";
                        color: #909090;
                        font-size: 1rem;
                    }
                    
                    .definicion-contenido h1 {
                        font-family: "gotham-bold";
                        color: #333333;
                        font-size: 1.4rem;
                        font-weight: 700;
                    }
                    
                    .definicion-contenido {
                        padding-left: 1.6rem;
                    }
                    
                    .folio {
                        font-family: "gotham-bold";
                        text-align: right;
                        float: right;
                        margin-right: 0rem;
                        padding-right: 0rem;
                    }
                    
                    .folio h3 {
                        font-family: "gotham-bold";
                        color: #909090;
                        font-size: 1rem;
                    }
                    
                    .folio-contenido h1 {
                        font-family: "gotham-bold";
                        color: #333333;
                        font-size: 1.3rem;
                    }
                    
                    .folio-contenido {
                        vertical-align: middle;
                        border-right: .1rem solid #333333;
                    }
                    
                    .folio-contenido-1 {
                        vertical-align: middle;
                    }
                    
                    .folio-contenido-1 h1 {
                        font-family: "gotham-bold";
                        color: #333333;
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                    
                    .categoria {
                        text-align: right;
                        float: right;
                    }
                    
                    .categoria h3 {
                        font-family: "gotham-bold";
                        color: #909090;
                        font-size: 1rem;
                    }
                    
                    .categoria-contenido h1 {
                        font-family: "gotham-bold";
                        color: #333333;
                        font-size: 1.3rem;
                        font-weight: 700;
                        text-align: center;
                    }
                    
                    .categoria-contenido {
                        vertical-align: middle;
                        border-right: .1rem solid #333333;
                    }
                    
                    .detalle-indicador .encabezado {
                        background-color: #eaeaea;
                    }
                    
                    .detalle-indicador .card {
                        position: relative;
                    }
                    
                    .detalle-indicador .card .col {
                        text-align: center;
                        padding-top: 2rem;
                        padding-right: 2rem;
                    }
                    
                    .detalle-indicador .card .col-dire {
                        text-align: center;
                        padding-top: 1rem;
                        padding-right: 1rem;
                    }
                    
                    .detalle-indicador .card img {
                        margin-left: 1rem;
                    }
                    
                    .detalle-indicador .card h1 {
                        font-family: "gotham-bold";
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: #333333;
                    }
                    
                    .detalle-indicador .card-body {
                        background-color: #dedfe0;
                    }
                    
                    .detalle-indicador .card-body .card-title {
                        font-family: "gotham-bold";
                        color: #005CAB;
                        text-align: center;
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                    
                    .detalle-indicador .card-body .card-text-t {
                        font-family: "gotham-bold";
                        color: #909090;
                        font-size: .9rem;
                        font-weight: bold;
                        text-align: justify;
                    }
                    
                    .detalle-indicador .card-body .card-text {
                        font-family: "gotham-bold";
                        color: #333333;
                        font-size: 1.1rem;
                        font-weight: bold;
                        text-align: justify;
                    }
                    
                    .card-body .division-i {
                        height: 80%;
                        border-right: 2px solid #333333;
                    }
                    
                    .card-body .division-d {
                        padding-left: 1rem;
                        padding-bottom: 1rem;
                    }
                    
                    .card-body .division-d i {
                        color: #58ba63;
                    }
                    
                    .fichas-descarga img {
                        height: 4rem;
                        text-align: center;
                    }
                    /********************Animaciones************************************************/
                    
                    .animated {
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                    }
                    
                    .fast {
                        -webkit-animation-duration: 0.4s;
                        animation-duration: 0.4s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                    }
                    
                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                        }
                    }
                    
                    .fadeIn {
                        animation-name: fadeIn;
                    }
                    /*****************************MEDIA QUERIES***************************************************/
                    
                    @media (max-width: 575.98px) {
                        /*********************************HOME COMPONENT***********************************/
                        .busqueda {
                            margin-bottom: .8rem;
                        }
                        h2 span {
                            font-size: .7rem;
                        }
                        .queson-indicadores .queson-izq {
                            border-right: transparent
                        }
                        .queson-indicadores .queson-der {
                            border-left: transparent;
                        }
                        .indicadores-ejes .card-img-top {
                            width: 18rem;
                            text-align: center;
                            margin-left: 3rem;
                        }
                        .indicadores-ejes .card-body {
                            margin-left: 3rem;
                            margin-bottom: 1rem;
                        }
                        .indica-programas .container img {
                            width: 18rem;
                            margin-left: 1rem;
                        }
                        .indica-programas .container .caja-izq {
                            border-right: transparent;
                        }
                        .indica-programas .container .caja-der .btn {
                            font-size: 1rem;
                        }
                        .indica-programas .container .caja-der .btn .negritas {
                            font-size: 1.1rem;
                        }
                        .indica-programas .container .caja-der .btn-group .text-left {
                            margin-left: 0;
                            font-size: .4rem;
                        }
                        .indica-programas .container .caja-der .btn-group a {
                            margin-left: 0;
                            font-size: .4rem;
                        }
                        .opcion-indica .container {
                            text-align: center;
                        }
                        .footer p {
                            font-size: .6rem;
                        }
                        /******************CONTACTO COMPONENT****************/
                        .contacto {
                            padding-top: .8rem;
                        }
                        .contacto .right-divider {
                            text-align: center;
                            border-right: transparent;
                        }
                        .contacto .parrafo {
                            text-align: justify;
                            font-size: .7rem;
                            padding: 0 1.2rem 0 1.2rem;
                        }
                        .contacto .titulo {
                            padding-bottom: .2rem !important;
                            margin-bottom: .2rem !important;
                        }
                        .formulario-contacto {
                            padding-top: .8rem !important;
                            margin-top: .4rem !important;
                        }
                        .formulario-contacto label {
                            font-size: .7rem;
                        }
                        .formulario-contacto .form-control {
                            font-family: "Gotham-light";
                            font-size: .7rem;
                        }
                        .formulario-contacto .btn {
                            font-size: .7rem;
                            padding: .5rem;
                        }
                        /*******INDICADORES ALINEADOS ONU*****/
                        .implan h3 {
                            font-size: 1rem;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                        .implan h1 {
                            font-size: 1.2rem;
                            margin-top: 0;
                            padding: 0 .5rem 0 .5rem;
                        }
                        .implan .parrafo {
                            font-size: .7rem;
                            text-align: center;
                            padding: 0 .5rem 0 .5rem;
                        }
                        .fila-indica-onu {
                            margin-bottom: -3rem;
                        }
                        .card-implan {
                            text-align: center;
                            margin-bottom: 2rem;
                        }
                        .card-implan img {
                            width: 20rem;
                        }
                        /***************************TODOS LOS INDICADORES********************/
                        .consulta-todos h3 {
                            font-size: .8rem;
                        }
                        .consulta-todos h1 {
                            font-size: 1.6rem;
                        }
                        .barra-indicadores th {
                            font-size: .5rem;
                            padding-top: .2rem;
                        }
                        .contenido-indicadores .titulo-indicador h1 {
                            font-size: .4rem;
                            margin-left: 1rem;
                        }
                        .contenido-indicadores .titulo-indicador h3 {
                            font-size: .5rem;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                        .contenido-indicadores .grafica {
                            font-size: 1rem;
                            vertical-align: middle;
                        }
                        .valorMeta .valor {
                            font-size: .8rem;
                        }
                        .valorMeta .meta {
                            font-size: .8rem;
                            text-align: center;
                            margin-left: 1rem;
                        }
                        .tdVerticalBar .direccion {
                            font-size: .5rem !important;
                        }
                        .fecha {
                            font-size: .5rem !important;
                            margin-left: -1rem !important;
                            margin-right: -1rem !important;
                        }
                        /************************INDICADOR INDIVIDUAL*************************/
                        .indicador {
                            margin-top: 1rem;
                            padding-top: 0rem;
                            padding-bottom: .3rem;
                        }
                        .forma {
                            margin-top: 0rem;
                            padding-top: 0rem;
                        }
                        .titulo-indicador .imagen {
                            text-align: center;
                        }
                        .titulo-indicador .imagen img {
                            height: 4rem;
                        }
                        .titulo-indicador .titulo {
                            text-align: center;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                        .titulo-indicador .titulo h1 {
                            font-size: 1rem;
                            line-height: 1.3rem;
                        }
                        .titulo-indicador hr {
                            height: .1rem;
                            width: 2rem;
                            background-color: #333;
                        }
                        .indicador-generales .definicion {
                            margin-top: .3rem;
                            padding-top: .3rem;
                            text-align: center;
                        }
                        .indicador-generales .definicion h1 {
                            font-size: .9rem;
                        }
                        .indicador-generales .definicion-contenido {
                            text-align: center;
                            margin-bottom: 0rem;
                            padding-bottom: 0rem;
                        }
                        .indicador-generales .definicion-contenido h1 {
                            font-size: .7rem;
                        }
                        .indicador-generales .folio {
                            text-align: center;
                        }
                        .indicador-generales .folio h1 {
                            font-size: .8rem;
                        }
                        .indicador-generales .folio-contenido {
                            border-right: transparent;
                        }
                        .categoria-contenido {
                            border-right: transparent;
                        }
                        .indicador-generales .folio-contenido h1 {
                            text-align: center;
                            font-size: .7rem;
                        }
                        .indicador-generales .categoria {
                            text-align: center;
                            font-size: .8rem;
                        }
                        .indicador-generales .categoria-contenido h1 {
                            font-size: .7rem;
                        }
                        .indicador-generales .folio-contenido-1 h1 {
                            text-align: center;
                            font-size: .7rem;
                        }
                        .col-md-4 {
                            margin-bottom: 2rem;
                        }
                        .card {
                            margin-bottom: 1rem;
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                        .detalle-indicador .card-img-top {
                            width: 4rem;
                            text-align: center;
                        }
                        .detalle-indicador .col {
                            vertical-align: middle;
                            margin-top: -.1rem;
                        }
                        .detalle-indicador .col h1 {
                            font-size: 1rem;
                        }
                        .card-body .card-title {
                            font-size: 1rem !important;
                        }
                        .card-body .card-text-t {
                            font-size: .7rem !important;
                        }
                        .card-body .card-text {
                            font-size: .7rem !important;
                        }
                        .col-sm-4 {
                            margin-bottom: .8rem;
                        }
                        .fichas-descarga {
                            text-align: center;
                            padding-bottom: 0rem;
                            margin-bottom: 0rem;
                        }
                        .fichas-descarga img {
                            height: 4rem;
                            padding-bottom: 1rem;
                            margin-bottom: 0rem;
                        }
                        /********FOOTER********/
                        .footer {
                            font-size: .7rem;
                        }
                    }
                    
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        /**********************************HOME COMPONENT**************************************/
                        .busqueda {
                            margin-bottom: .8rem;
                        }
                        .queson-indicadores .izq {
                            font-size: .6rem;
                        }
                        .queson-indicadores .queson-centro {
                            font-size: .5rem;
                        }
                        .queson-indicadores .der {
                            font-size: .5rem;
                        }
                        .queson-indicadores img {
                            width: 2rem;
                        }
                        .queson-indicadores .desc {
                            font-size: .6rem;
                        }
                        .queson-indicadores .desc:active {
                            font-size: .6rem;
                        }
                        .queson-indicadores a h3:hover {
                            font-size: .6rem;
                        }
                        .indica-programas {
                            margin-left: -2rem;
                        }
                        .indica-programas .btn {
                            font-size: .7rem;
                        }
                        .indica-programas .negritas {
                            font-size: .9rem;
                        }
                        .indica-programas .dropdown-item {
                            margin-left: .3rem;
                            padding-left: 0;
                        }
                        .indica-programas .text-left {
                            font-size: .4rem;
                        }
                        .indica-programas a {
                            font-size: .4rem;
                        }
                        .indica-programas .dropdown-menu {
                            width: 23rem;
                        }
                        .opcion-indica img {
                            height: 2.3rem !important;
                        }
                        /******************CONTACTO COMPONENT****************/
                        .contacto {
                            padding-top: .8rem;
                        }
                        .contacto .right-divider {
                            text-align: center;
                            border-right: transparent;
                        }
                        .contacto .parrafo {
                            text-align: justify;
                            font-size: .7rem;
                            padding: 0 1.2rem 0 1.2rem;
                        }
                        .contacto .titulo {
                            padding-bottom: .2rem !important;
                            margin-bottom: .2rem !important;
                        }
                        .formulario-contacto {
                            padding-top: .8rem !important;
                            margin-top: .4rem !important;
                        }
                        .formulario-contacto label {
                            font-size: .8rem;
                        }
                        .formulario-contacto .form-control {
                            font-family: "Gotham-light";
                            font-size: .8rem;
                        }
                        .formulario-contacto .btn {
                            font-size: .7rem;
                            padding: .5rem;
                        }
                        /*******INDICADORES ALINEADOS ONU*****/
                        .implan h3 {
                            font-size: 1.2rem;
                            padding-bottom: .2rem;
                            margin-bottom: 0;
                        }
                        .implan h1 {
                            font-size: 1.3rem;
                            margin-top: 0;
                            padding: 0 .5rem 0 .5rem;
                        }
                        .implan .parrafo {
                            font-size: .8rem;
                            text-align: center;
                            padding: 0 1rem 0 1rem;
                        }
                        .fila-indica-onu {
                            margin-bottom: -3rem;
                        }
                        .card-implan {
                            text-align: center;
                            margin-bottom: 2rem;
                        }
                        .card-implan img {
                            width: 20rem;
                        }
                        /***************************TODOS LOS INDICADORES********************/
                        .consulta-todos h3 {
                            font-size: .8rem;
                        }
                        .consulta-todos h1 {
                            font-size: 1.6rem;
                        }
                        .barra-indicadores th {
                            font-size: .5rem;
                            padding-top: .2rem;
                        }
                        .contenido-indicadores .titulo-indicador h1 {
                            font-size: .4rem;
                            margin-left: 1rem;
                        }
                        .contenido-indicadores .titulo-indicador h3 {
                            font-size: .5rem;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                        .contenido-indicadores .grafica {
                            font-size: 1rem;
                            vertical-align: middle;
                        }
                        .valorMeta .valor {
                            font-size: .8rem;
                        }
                        .valorMeta .meta {
                            font-size: .8rem;
                            text-align: center;
                            margin-left: 1rem;
                        }
                        .tdVerticalBar .direccion {
                            font-size: .5rem !important;
                        }
                        .fecha {
                            font-size: .5rem !important;
                            margin-left: -1rem !important;
                            margin-right: -1rem !important;
                        }
                        /************************INDICADOR INDIVIDUAL*************************/
                        .titulo-indicador .imagen {
                            text-align: center;
                        }
                        .titulo-indicador .imagen img {
                            height: 4rem;
                            margin-top: -1rem;
                        }
                        .titulo-indicador .titulo h1 {
                            font-size: 1.5rem;
                            line-height: 1.7rem;
                        }
                        .indicador-generales .definicion {
                            text-align: right;
                            padding-right: .3rem !important;
                        }
                        .indicador-generales .definicion h3 {
                            margin-top: 0rem;
                            font-size: .8rem;
                        }
                        .indicador-generales .definicion-contenido {
                            text-align: justify;
                            padding-left: .3rem !important;
                        }
                        .indicador-generales .definicion-contenido h1 {
                            font-size: .7rem;
                        }
                        .indicador-generales .folio {
                            padding-right: .7rem !important;
                        }
                        .indicador-generales .folio h3 {
                            margin-top: 0rem;
                            font-size: .8rem;
                        }
                        .indicador-generales .folio-contenido {
                            padding-left: .7rem !important;
                            height: 1.5rem;
                        }
                        .indicador-generales .folio-contenido h1 {
                            margin-top: .2rem;
                            font-size: .7rem;
                        }
                        .indicador-generales .categoria {
                            padding-right: 1.8rem !important;
                        }
                        .indicador-generales .categoria h3 {
                            margin-top: 0rem;
                            font-size: .8rem;
                        }
                        .indicador-generales .categoria-contenido {
                            padding-left: 2rem !important;
                        }
                        .indicador-generales .categoria-contenido h1 {
                            margin-top: .2rem;
                            font-size: .7rem;
                        }
                        .indicador-generales .folio-contenido-1 {
                            padding-left: .4rem !important;
                        }
                        .indicador-generales .folio-contenido-1 h1 {
                            margin-top: .1rem;
                            font-size: .7rem;
                        }
                        .col-md-4 {
                            margin-bottom: 2rem;
                        }
                        .card {
                            margin-bottom: 1rem;
                            margin-left: 3rem;
                            margin-right: 3rem;
                        }
                        .detalle-indicador .card-img-top {
                            width: 4rem;
                            text-align: center;
                        }
                        .detalle-indicador .col {
                            vertical-align: middle;
                            margin-top: -.1rem;
                        }
                        .detalle-indicador .col h1 {
                            font-size: 1rem;
                        }
                        .card-body .card-title {
                            font-size: 1rem !important;
                        }
                        .card-body .card-text-t {
                            font-size: .7rem !important;
                        }
                        .card-body .card-text {
                            font-size: .7rem !important;
                        }
                        .col-sm-4 {
                            margin-bottom: .8rem;
                        }
                        .fichas-descarga {
                            text-align: center;
                            padding-bottom: 0rem;
                            margin-bottom: 0rem;
                        }
                        .fichas-descarga img {
                            height: 4rem;
                            padding-bottom: 1rem;
                            margin-bottom: 0rem;
                        }
                    }
                    
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        /***********************************HOME COMPONENT***************************************/
                        .busqueda {
                            margin-bottom: .8rem;
                        }
                        .queson-indicadores .izq {
                            font-size: .8rem;
                        }
                        .queson-indicadores .queson-centro {
                            font-size: .6rem;
                        }
                        .queson-indicadores .der {
                            font-size: .6rem;
                        }
                        .queson-indicadores img {
                            width: 2.3rem;
                        }
                        .queson-indicadores .desc {
                            font-size: .8rem;
                        }
                        .queson-indicadores .desc:active {
                            font-size: .8rem;
                        }
                        .queson-indicadores a h3:hover {
                            font-size: .8rem;
                        }
                        .indicadores-ejes .card-body {
                            padding-top: .4rem;
                            margin-left: 0;
                        }
                        .indicadores-ejes .card-title {
                            font-size: .7rem;
                        }
                        .indicadores-ejes .card-text {
                            font-size: .6rem;
                            padding-right: 0rem;
                            margin-right: 0rem;
                        }
                        .indica-programas {
                            margin-left: -2rem;
                        }
                        .indica-programas .btn {
                            font-size: 1rem;
                        }
                        .indica-programas .negritas {
                            font-size: 1.3rem;
                        }
                        .indica-programas .dropdown-item {
                            margin-left: -1rem;
                            padding-left: -3rem;
                        }
                        .indica-programas .text-left {
                            font-size: .5rem;
                        }
                        .indica-programas a {
                            font-size: .5rem;
                        }
                        .indica-programas .dropdown-menu {
                            width: 30rem;
                        }
                        .opcion-indica img {
                            height: 3.6rem !important;
                        }
                        /******************CONTACTO COMPONENT****************/
                        .contacto .titulo h1 {
                            font-size: 2rem;
                            vertical-align: middle;
                        }
                        .contacto .parrafo {
                            font-size: .7rem;
                            margin-top: 0;
                        }
                        /*******INDICADORES ALINEADOS ONU*****/
                        .implan h3 {
                            font-size: 1.2rem;
                            padding-bottom: .2rem;
                            margin-bottom: 0;
                        }
                        .implan h1 {
                            font-size: 1.3rem;
                            margin-top: 0;
                            padding: 0 .5rem 0 .5rem;
                        }
                        .implan .parrafo {
                            font-size: .8rem;
                            text-align: center;
                            padding: 0 1rem 0 1rem;
                        }
                        /***************************TODOS LOS INDICADORES********************/
                        .consulta-todos h3 {
                            font-size: .8rem;
                        }
                        .consulta-todos h1 {
                            font-size: 1.6rem;
                        }
                        .barra-indicadores th {
                            font-size: .5rem;
                            padding-top: .2rem;
                        }
                        .contenido-indicadores .titulo-indicador h1 {
                            font-size: .4rem;
                            margin-left: 1rem;
                        }
                        .contenido-indicadores .titulo-indicador h3 {
                            font-size: .5rem;
                            margin-left: 1rem;
                            margin-right: 1rem;
                        }
                        .contenido-indicadores .grafica {
                            font-size: 1rem;
                            vertical-align: middle;
                        }
                        .valorMeta .valor {
                            font-size: .8rem;
                        }
                        .valorMeta .meta {
                            font-size: .8rem;
                            text-align: center;
                            margin-left: 1rem;
                        }
                        .tdVerticalBar .direccion {
                            font-size: .5rem !important;
                        }
                        .fecha {
                            font-size: .5rem !important;
                            margin-left: -1rem !important;
                            margin-right: -1rem !important;
                        }
                        /********************INDICADOR COMPONENTE****************************/
                        .titulo-indicador .imagen img {
                            height: 4rem;
                            margin-top: -1rem;
                        }
                        .titulo-indicador .titulo h1 {
                            font-size: 1.5rem;
                            line-height: 1.7rem;
                        }
                        .indicador-generales .definicion {
                            text-align: right;
                            padding-right: .3rem !important;
                        }
                        .indicador-generales .definicion h3 {
                            margin-top: 0rem;
                            font-size: .8rem;
                        }
                        .indicador-generales .definicion-contenido {
                            text-align: justify;
                            padding-left: 2rem !important;
                        }
                        .indicador-generales .definicion-contenido h1 {
                            font-size: .7rem;
                        }
                        .indicador-generales .folio {
                            padding-right: .7rem !important;
                        }
                        .indicador-generales .folio h3 {
                            margin-top: 0rem;
                            font-size: .8rem;
                        }
                        .indicador-generales .folio-contenido {
                            padding-left: .7rem !important;
                            height: 1.5rem;
                        }
                        .indicador-generales .folio-contenido h1 {
                            margin-top: .2rem;
                            font-size: .7rem;
                        }
                        .indicador-generales .categoria {
                            padding-right: 1.8rem !important;
                        }
                        .indicador-generales .categoria h3 {
                            margin-top: 0rem;
                            font-size: .8rem;
                        }
                        .indicador-generales .categoria-contenido {
                            padding-left: 2rem !important;
                        }
                        .indicador-generales .categoria-contenido h1 {
                            margin-top: .2rem;
                            font-size: .7rem;
                        }
                        .indicador-generales .folio-contenido-1 {
                            padding-left: .4rem !important;
                        }
                        .indicador-generales .folio-contenido-1 h1 {
                            margin-top: .1rem;
                            font-size: .7rem;
                        }
                        .detalle-indicador .col h1 {
                            font-size: .7rem;
                            padding-left: .5rem !important;
                            vertical-align: middle;
                            margin-top: -.3rem;
                        }
                        .card-body .card-title {
                            font-size: 1rem !important;
                        }
                        .card-body .card-text-t {
                            font-size: .7rem !important;
                        }
                        .card-body .card-text {
                            font-size: .7rem !important;
                        }
                        .col-sm-4 {
                            margin-bottom: .8rem;
                        }
                        .fichas-descarga {
                            text-align: center;
                            padding-bottom: 0rem;
                            margin-bottom: 0rem;
                        }
                        .fichas-descarga img {
                            height: 4rem;
                            padding-bottom: 1rem;
                            margin-bottom: 0rem;
                        }
                        .footer p {
                            font-size: .7rem;
                        }
                    }
                    
                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        /*********************HOME COMPONENT***********************/
                        .navbar-nav a {
                            font-size: .8rem;
                        }
                        .form-control {
                            font-size: .8rem;
                        }
                        .btn-busca {
                            height: 2.1rem;
                        }
                        .queson-indicadores .izq {
                            font-size: 1rem;
                            padding-top: 1rem;
                        }
                        .queson-indicadores .queson-centro {
                            font-size: .8rem;
                        }
                        .queson-indicadores .der {
                            font-size: .8rem;
                        }
                        .queson-indicadores img {
                            width: 3rem;
                        }
                        .queson-indicadores .desc {
                            font-size: 1rem;
                        }
                        .queson-indicadores .desc:active {
                            font-size: 1rem;
                        }
                        .queson-indicadores a h3:hover {
                            font-size: 1rem;
                        }
                        .indicadores-ejes .card-body {
                            padding-top: .8rem;
                            margin-left: .3rem;
                        }
                        .indicadores-ejes .card-title {
                            font-size: .8rem;
                        }
                        .indicadores-ejes .card-text {
                            font-size: .7rem;
                            padding-right: 0rem;
                            margin-right: 0rem;
                        }
                        .indica-programas {
                            margin-left: 2rem;
                        }
                        .indica-programas .btn {
                            font-size: 1.2rem;
                        }
                        .indica-programas .negritas {
                            font-size: 1.5rem;
                        }
                        .indica-programas .dropdown-item {
                            margin-left: -1rem;
                            padding-left: -3rem;
                        }
                        .indica-programas .text-left {
                            font-size: .7rem;
                        }
                        .indica-programas a {
                            font-size: .6rem;
                        }
                        .indica-programas .dropdown-menu {
                            width: 35rem;
                        }
                        .opcion-indica img {
                            height: 4.5rem !important;
                        }
                    }